<!DOCTYPE html>
<html lang='fi'>
	<head>
		<meta charset='UTF-8'>
		<title>Puhelinluettelon tiedot</title>
	</head>
	<body>
		<p>puhelinluettelossa <%= lkm %> henkilön tiedot</p>
		<p><%= aika %></p>
	</body>
</html>